<div class="jumbotron">
    <input :model="$app.twoWayModel">${$app.twoWayModel} <input :model="$app.twoWayModels"> ${$app.twoWayModels}
    <h4>Test Switch Functionality</h4>
    <div :switch="$app.twoWayModel">
        <div switch-when="1">
          I am from 1 - ${$app.twoWayModel}
        </div>
        <div :when="2">
          I am from 2 - ${$app.twoWayModel}
        </div>
        <div switch-when="3">
          I am from 3 - ${$app.twoWayModel}
        </div>
        <div switch-when="default">
          <div :switch="$app.twoWayModels">
            <div switch-when="2">
              I am nested switch
            </div>
            <div switch-when="default">I am default from nested switch</div>
          </div>
        </div>
    </div>
</div>

<button @click="$app.onClick()">Click Me</button>

${loaded}

