<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">jEli Query Language
                    <small>Getting Started </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/">Home</a></li><li ><a href="#/learn/jdb">jEliDB</a></li><li class="active">jQL</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" handle-scroll>
                    <a href="#createTbl" class="list-group-item"><i class="icon-chevron-right"></i> Create a Table</a>
                    <a href="#alt_Table" class="list-group-item"><i class="icon-chevron-right"></i> Alter Table</a>
                    <a href="#insert" class="list-group-item"><i class="icon-chevron-right"></i> Insert Records</a>
                    <a href="#update" class="list-group-item"><i class="icon-chevron-right"></i> Update Records</a>
                    <a href="#delete" class="list-group-item"><i class="icon-chevron-right"></i>Delete Records</a>        
                    <a href="#select" class="list-group-item"><i class="icon-chevron-right"></i>Select Records</a>
                    <a href="#truncate" class="list-group-item"><i class="icon-chevron-right"></i>Truncate Table</a>
                    <a href="#drop" class="list-group-item"><i class="icon-chevron-right"></i>Drop Table / Database</a>
                    <a href="#imp_exp" class="list-group-item"><i class="icon-chevron-right"></i> Import / Export</a>
                    <a href="#sync" class="list-group-item"><i class="icon-chevron-right"></i> Synchronize</a>
                    <a href="#users" class="list-group-item"><i class="icon-chevron-right"></i>Add Users</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
              <p>jQL is the best feature of jEliDB, Jeli Query Language( jQL ) have the ability to perform query using it's own query Syntax. JQL is easy to use, with or without SQL knowledge. Aside using JQL to perform query task, it can also be used for other actions like calling REST APIS provided by JELIDB Applications. </p>
              <h4>jQl accepts two paramaters</h4>
              <ul>
                <li>
                  <h4>Command - STRING</h4>
                  <div>Define the query you want to perform, using our query syntax</div>
                </li>
                <li>
                  <h4>Handlers - OBJECT</h4>
                  Define how to handle response from jQl method.
                  <ul>
                    <li><h4>onSuccess</h4></li>
                    <li><h4>onError</h4></li>
                  </ul>
                </li>
            </ul>

            <div class="code">
              <pre>DB<br/>.jQl(QUERY_TO_PERFORM,{<br/>onSuccess : function(){},<br/>onError : function(){}<br/>});</pre>
              <p><strong>Type -help to see command syntax</strong></p>
              <p>jQl command plugins are extensible, which means you can write your own custom command to be executed.</p>
               <div class="alert alert-info">The sandbox page uses jQl to perform all task</div>
            </div>

            <div class="panel panel-primary" id="createTbl">
                <div class="panel-heading">Create a Table</div>
                <div class="panel-body">
                    Syntax : -CREATE -TABLE_NAME -COLUMNS
                    <pre>-CREATE -members -[{ID:{type:"INTERGER",AUTO_INCREMENT:1},email:{type:"VARCHAR"}}]</pre>
                    <div class="alert alert-info">COLUMNS command is an ARRAY OF OBJECTS with list of columns with their configuration. A column must contain a type of input to accept. For empty column pass an empty ARRAY : [] </div>
                    </p>
                </div>
            </div>

            <div class="panel panel-primary" id="alt_Table">
                <div class="panel-heading">Alter Table</div>
                <div class="panel-body">
                   Syntax : -ALTER -TABLE_NAME
                    <pre>-add -new -column -COLUMN_NAME -CONFIGURATION</pre>
                    <p><strong>adding a new column to our table</strong></p>
                    <pre>ALTER -members -add -new -column -fullName -{type:"VARCHAR",defaultValue:"Foo Bar"}</pre>
                    <div class="alert alert-info">Configuration must be a javascript Object</div>
                    <br>
                    <p><strong>Adding Primary Key</strong></p> 
                    <pre>-add -primary -key -column_name</pre>
                    <p><strong>Drop a column</strong></p> 
                    <pre> -drop -column_name </pre>
                    <div class="alert alert-info">Column dropped will be removed from table rows.</div>
                </div>
            </div>

            <div class="panel panel-primary" id="insert">
            <div class="panel-heading">Insert Data into Table</div>
                <div class="panel-body">
                    Syntax : -insert -data -table_name
                    <div class="alert alert-info"> -data command accepts ARRAY of OBJECTS or ARRAY of ARRAYS. Column name must be defined when using ARRAY of Objects, while for ARRAY of ARRAYS the data must follow according to their column position in the table.</div>
                    <p>In Array of Objects AUTO_INCREMENT field can be omitted, while for ARRAY of Arrays cannot.</p>
                    <p>Inserting Data with Array of Objects into our members table</p>
                    <pre>-insert -[{fullName:"Foo Bar",email:"foo@bar.com"},{fullName:"Bar Foo",email:"bar@foo.com"}] -members</pre>
                    <p><strong>ID field was omitted, because it has a configuration of AUTO_INCREMENT</strong></p>

                    <p>Inserting Data with Array of Arrays into our members table</p>
                    <pre>-insert -[[1,"Foo Bar","foo@bar.com"],[2,"Bar Foo","bar@foo.com"]] -members</pre>
                    <div class="alert alert-info">As said above, the ID field cannot be omitted even if having the auto_incremement configuration when inserting data with ARRAY of ARRAYS. Data in each array will be Mapped to the columns</div>
                </div>
            </div>

            <div class="panel panel-primary" id="update">
            <div class="panel-heading">Update records</div>
                <div class="panel-body">
                Syntax : -update -TBL_NAME -records -where 
                 <div class="alert alert-info">Data command accepts only 2 type of data (OBJECT and params ) </div>
                    <ul>
                      <li>OBJECT : {fullName:"Foo Boo",email:"foo@boo.com"}</li>
                      <li>PARAM : fullName ="Foo Boo",email="foo@boo.com"</li>
                    </ul>
                    <pre> -update -members -fullName="Foo Boo" -where -(ID === 1 || fullName ==="Foo Bar")</pre>
                    <div class="alert alert-danger">If where clause is not defined, all rows in the table will be updated.</div>
                </div>
            </div>

            <div class="panel panel-primary" id="select">
            <div class="panel-heading">Select From Table</div>
                <div class="panel-body">
                Syntax : -select -columns -table_name
                <p>-columns command accepts different parameter</p>
                    <ul>
                      <li>* - To select all columns</li>
                      <li>-columnName : Select a particular column set from the table ( Seperate multiple columns with a comma)</li>
                      <li>-columnName as user-defined : select columns and return as user-defined Name (eg : -fullName as fName)</li>
                    </ul>
                <p>Using CLAUSE in Select</p>
                <ul>
                  <li><strong>WHERE : </strong> -Where -expression
                  <p><strong>eg : -select -* -members -where -(id === 1)</strong></p></li>
                  <li><strong>-LIKE :</strong> -LIKE:expression
                  <p><strong>eg : -select -* -members -where -fullName -LIKE:foo</strong></p></li>
                  <li><strong>Join Clause :</strong> -join -CLAUSENAME:tableName -on -expression
                  <strong>List of Join Clause to use</strong>
                  <ul>
                    <li>INNER</li>
                    <li>LEFT</li>
                    <li>RIGHT</li>
                    <li>OUTER</li>
                  </ul>
                  </li>
                </ul>
                <pre>-select -members.fullName,info.address -members -join -inner:info -on -memebers.ID === info.PID</pre>
                <div class="alert alert-danger">All tables must exists before performing the join, else error exception will be thrown.</div>
              </div>
            </div>

            <div class="panel panel-primary" id="delete">
                <div class="panel-heading">Delete records</div>
                <div class="panel-body">
                    Syntax : -delete -tableName -WHERE -expression
                    <pre>-delete -memebers -where -(ID === 1 || fullName ==="Foo Bar")</pre>
                    <div class="alert alert-danger">If where clause is not defined, all rows in the table will be deleted.</div>
                </div>
            </div>

            <div class="panel panel-primary" id="truncate">
            <div class="panel-heading">Truncate Table</div>
                <div class="panel-body">
                    Syntax : -truncate -tableName -flag(yes or no)
                    <pre>-truncate -members -yes</pre>
                    <div class="alert alert-info">Truncating a table deletes every record in the table, flag must be set to yes before task is performed, else an error exception will be thrown.</div>
                </div>
            </div>

            <div class="panel panel-primary" id="drop">
                <div class="panel-heading">Drop Table / Database</div>
                <div class="panel-body">
                  Syntax : -drop -table -tableName -flag(yes or no)
                <pre>-drop -table -members -yes</pre>
                <div class="alert alert-info">Dropping a table removes the table from the Database, flag must be set to yes before task is performed, else an error exception will be thrown.</div>
                </div>
            </div>

             <div class="panel panel-primary" id="imp_exp">
                <div class="panel-heading">Import </div>
                <div class="panel-body">
                    Syntax : -import -tableName
                    <p>Importing record opens a dialog box to select the file you want to import to the table, accepted files are (.csv,.html,.json) </p>
                    <div class="alert alert-info">if the table doesn't exist it will be created and data will be inserted into the table.</div>
                </div>
            </div>

            <div class="panel panel-primary" id="imp_exp">
                <div class="panel-heading">Export</div>
                <div class="panel-body">
                    Syntax : -export -tableName -format -task
                  <p>Task List</p>
                  <ul>
                    <li>Download : -d -fileName</li>
                    <li>Print : -p to console</li>
                  </ul>

                <div class="alert alert-info">Accepted types are (.csv,.html,.json), title is optional and can be left blank</div>
                </div>
            </div>

            <div class="panel panel-primary" id="sync">
            <div class="panel-heading">Synchronize Database or Table</div>
                <div class="panel-body">
                    Syntax : -sync -tableName
                    <div class="alert alert-info">Without definig a tableName, all tables in the database will be synchronized. Table Name must be in ARRAY format</div>
                    <pre> -sync -["members"] or -sync</strong></pre>
                </div>
            </div>
           



            </div>
        </div>
    </div>